/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]ackup*/
/[Mm]emoryCaptures/
/[Rr]ecordings/

/.vs/
/.idea/
/.vscode/

*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.unitypackage
*.apk
*.aab
*.app
*.exe

sysinfo.txt
crashlytics-build.properties

UpgradeLog*.htm